{% extends 'portfolio/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <img src="DSC_9906 copy copy.jpg.JPG">
    <h1 class="display-4">MD IMDADUL HOSSAIN</h1>
    <p class="lead">I am a student who wants to learn python.</p>
</div>
<div class="row">
    {% for project in projects %}
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="{{ project.image.url }}" class="card-img-top" alt="{{ project.title }}">
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description }}</p>
                <a href="{{ project.url }}" class="btn btn-primary">View Project</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
